$btn-color: #00BFCC;
$text-color: #070707;

.round {
    --border-radius: 50%;
    --vertical-align: middle;
    height: 60px;
    width: 60px;
    --ion-color-base: #088088;
    font-size: initial;
    font-size: 25px;
}

.class-headerimg {
  background-image: url("../../assets/bluebg.png")!important;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.back-marg{
  float: left;
  position: relative;
  top: 25%;
  padding: 10px;
  border-radius: 10px;
  background: #29c5c5;
}

.clear-marg{
  background: transparent;
  float: right;
  position: relative;
  top: 25%;
  padding: 10px;
  border-radius: 10px;
  background: #29c5c5;
}

.save-center{
  border-radius: 50%;
  font-size: 22px;
  color: #ffffff;
  height: 80px;
  width: 100%;
  border-radius: 50%;
  padding: 0 3% 0 3%;
}

.toggle-color{
    --ion-color-base: #00BFCC !important;
}

.label-pos{
  position: absolute;
  bottom: 15%;
}

.class-rowpadd{
    padding: 1.5% 2%;
}

.error-message{
  position: absolute;
  left: 5%;
  color: red;
  font-size: 15px;
}

.title {
  font-size: 33px;
  font-weight: 500;
  padding-top: 10px;
  background: #00000000;
  color: #fff;
}

.tool2{
  --background:#FFFFFF00;
  --border-width : 0px !important;
}

.tool1{
  position: relative;
  top: 1%;
}

.srccroll{
  height: 200px;
  overflow: scroll;
  visibility: visible;
  z-index: 999;
  position: absolute;
  width: -webkit-fill-available;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.28);
      border-radius: 5px;
}

.srchgt{
    height: auto;
    overflow: hidden;
    visibility: visible ;
    z-index: 999;
    position: absolute;
    width: -webkit-fill-available;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

.lab-font{
    font-size: 1rem !important;
     word-break: break-word;
}
.lab-font1{
  font-size: 14px;
}

.event-font{
  font-size: 18px;
}

.event-font-italic{
  font-size: 16px;
  color: #333;
  font-style: italic;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $btn-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(30px);
}

.on
{
  display: none;
}

.off{
  padding-left:33px;
}

.on{
  padding-right: 25px;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.slider.rnd {
  border-radius: 16px;
}

.slider.rnd:before {
    border-radius: 14px;
}

.marginTL10 {
  margin-left: 20px !important;
  margin-top: 10px !important;
}
  
.marginL15 {
  margin-left: 35px !important;
  margin-top: 0px !important;
}
// @media only screen and (min-width: 320px) and (max-width: 568px) {
//   .lab-font{
//     font-size: 17px;
//   }
//   .event-font{
//     font-size: 13px;
//   }
  
// }
// @media only screen and  (max-width: 576px) {
//     .cls-carrier{
//         width: 100%;
//     }
//   }
  ion-select{
    border: 1px solid gray;
    top: 4%;   
  }
  .class-headerrs{
    padding: 0px 32px 0px 0px;
    //color: #797373;
  }  
 
  .tablet{
    display: block;
    margin: 3%;

  }
  .mobile{
    display: none;
  }

  table {
    width: 100%;
   // border-collapse: collapse;
    //border: 0.5px solid #a2a4ab;
    border: 1px solid gray;    
    border-spacing: 30px;
  }

  th, td {
    padding: 2% 1%;
    text-align: left;
  }
  
  tr td {
    text-align: left;
  }
  tr:nth-child(odd) {background-color: #f2f2f2;}

  @media only screen and (min-width :320px ) and (max-width: 480px){   
    .tablet{
      display: none;
    }
    .mobile{
      display: block;
      margin: 2%;
      // border: 1px solid #ccc;
    }
    .lab-font{
      font-size: 17px;
  }
  // table > tbody{
  //   border-bottom:1px solid rgb(255, 228, 228) ;
  // }

  tr th, td {
    text-align: left;
  }

  th {
    width: 35%;
    padding: 2% 4%;
    background: #e6e3e0;
  }

  td {
    width: 65%;
    padding: 2% 4%;
  }

  .search{
    top: 22%;
    position: relative;
  }
  tr:nth-child(odd) {background-color: #f2f2f2;}
  .rowtab {
    margin-bottom: 2%;
  }
}
//   table >tbody >tr >th{
//       padding: 1%;
//   }

@media only screen and (min-width : 1024px) and (max-width : 1366px){
  .search{
    top: 22%;
    position: relative;
    border: 0.1px solid gray;
    width: 90%;
    height: 40px;
    margin-top: 8px;
  }
  .class-btn{
    top: 25%;
    position: relative;
    left: -7px;
    width: 211px;
  }

}
@media only screen and (max-width  :812px){
  .class-btn{
    top: 25%;
    position: relative;
    left: -7px;
    width: 95%;
  }
//   .lab-font{
//     font-size: 17px;
//     word-wrap: break-word;
// }

}


.search{
  top: 22%;
  position: relative;
  border: 0.1px solid gray;
  width: 90%;
  height: 40px;
  margin-top: 8px;
  color : #131010;
}
.class-btn{
  top: 25%;
  position: relative;
  left: -7px;
}
.readtoshipCssStyle{
  color: red;
}

.ShipCssStyle{
  color:green;
}
.class-border{
  border: 1px gray solid;
}